/*========== Color ====================*/
/*==============================================
   Theme Color Css
===============================================*/


.btn-one,
.thm_clr1,
.main-slider .content h2 span,
.sec-title p,
.twitter-feed-box span,
.twitter-feed-box .bottom .comments a i,
.single-service-style3 .overlay-content .title-holder p,
.slogan-content .quote-button a,
.mobile-menu .navigation li.current > a,
.mobile-menu .navigation li > a:hover,
.main-menu .navigation>li>ul>li>a:hover,
.main-menu .navigation> li> ul> li> a:before,
.main-menu .navigation> li> ul> li:hover > a,
.main-menu .navigation> li> ul> li> ul> li> a:hover,
.main-menu .navigation>li>ul>li>ul>li a:before,
.main-menu.style2 .navigation>li:hover>a,
.main-menu.style2 .navigation>li.current>a,
.main-menu.style2.clr-white .navigation>li:hover>a,
.main-menu.style2.clr-white .navigation>li.current>a,
.sticky-header .main-menu .navigation>li:hover>a, 
.sticky-header .main-menu .navigation>li.current>a,
.outer-search-box-style1 .seach-toggle:hover,
.outer-search-box-style1 .seach-toggle.active,
.single-footer-widget .page-links li a:hover,
.single-service-style3 .overlay-content .title-holder h3 a:hover,
.header-social-links .social-links-style1 li a:hover,
.header-menu ul li a:hover,
.quote-button a span:before,
.about-style1-text-box .title p,
.about-style1-text-box .title h1 b,
.login-register-area .form .right h6 span,
.single-service-style2 .overlay-content .inner-content .text-holder .title h3 a:hover,
.single-fact-counter .count-box h1,
.project-filter li:hover .filter-text, 
.project-filter li.active .filter-text,
.single-blog-post .text-holder .blog-title a:hover,
.single-blog-post .text-holder .bottom .author-name a span:before,
.single-blog-post .text-holder .bottom .read-more-button a,
.single-portfolio-style1 .img-holder .title-holder p span:before,
.single-testimonial-style1:before,
.single-testimonial-style1 .client-info .icon-box span:before,
.single-testimonial-style1 .client-info .title-box h3,
.payment-tab .tab-btns li:hover i, 
.payment-tab .tab-btns li.active-btn i,
.product-tab-box .review-form .shop-page-title p b,
.product-tab-box .review-form .add-rating-box .review-box ul li i,
.product-tab-box .review-form .input-box p span,
.review-box-holder .single-review-box .text-holder .top .review-box ul li i,
.comment-meta-box li a:hover,
.single-product-item .img-holder .overlay-content a:hover,
.rating-box ul li a:hover,
.breadcrumb-area .breadcrumb-menu ul li a:hover,
.brochures-box ul li .left .icon span:before,
.brochures-box ul li .left h5 a,
.header-contact-info ul li .title h6 a:hover,
.single-blog-post-style3 .text-holder .blog-title a:hover,
.styled-pagination li a:hover,
.styled-pagination li a.active,
.portfolio-details-content-box .tag,
.add-comment-box #add-comment-form button:hover,
.single-blog-post-style3 .text-holder h4,
.single-blog-post-style3 .text-holder .button-box .readmore a.btn-one:hover,
.single-blog-post-style3 .img-holder .overlay a,
.single-sidebar .project-box .project-lists li a:hover,
.categories li a:hover,
.single-contact-info-box .icon span:before,
.contact-form form button:hover,
.error-content .title,
.single-service-style2 .overlay-content .inner-content .icon,
.footer-menu ul li a:hover,
.video-holder-box.style2 .icon .inner a span:before,
.single-portfolio-style2 .overlay-content .title-holder p,
.single-portfolio-style2 .overlay-content .title-holder h3 a:hover,
.breadcrumb-area .breadcrumb-menu ul li.active,
.single-sidebar .ratting-box .ratting-lists li a:hover,
.scroll-top,.sermr .icon-holder .icon

/*========== Color ====================*/ 
{
	color:#1137a0!important;
}
/* ------------------////End of Section////--------------*/







/*==============================================
   Theme Background Css
===============================================*/
.woocommerce #place_order, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.sermr .read-morex .fa,.social-links-style1 li a:hover i,
.main-menu .navigation>li>a span.homeicon,
.single-portfolio-style1 .img-holder .title-holder:before,
.testimonial-style1-title-box:before,
.main-menu.style2 .navigation>li>a span.homeicon,
.single-service-style3 .overlay-content .icon-holder,
.video-holder-box-style3 a span:before,
.slogan-area,

.quote-button.style3 a,
.video-holder-box-style5 .icon .inner a span:before,
.btn-one:hover,
.btn-one:focus,
.owl-nav-style-one.owl-theme .owl-nav [class*="owl-"]:hover,
.single-footer-widget .page-links li a:hover:before,
.owl-carousel.owl-dot-style1 .owl-dots .owl-dot.active,
.accordion-box .accordion .accord-btn.active,
.slogan-content .quote-button a:hover,
.quote-button a:hover,
.main-slider .owl-theme .owl-dots .owl-dot.active,
.main-slider .owl-theme .owl-dots .owl-dot.active:before,
.single-service-style1 .text-holder .count-box:before,
.video-holder-box .icon .inner a span:before,
.about-style1-text-box .title h1 span,
.single-service-style2 .img-holder .static-content .icon a,
.single-portfolio-style1 .img-holder .inner-box .zoom-button a span:before,
.single-team-member .title-holder:before,
.single-blog-post .img-holder .post-date p,
.copyright-text:before,
.scroll-top:hover,
.quote-button.style2 a,
.video-holder-box-style4 a span:before,
.about-style2-area,
.single-portfolio-style2 .overlay-content .icon-holder,
.styled-pagination li.next a,
.portfolio-single-video-box a span:before,
.project-info-box,
.project-info-box.style2,
.add-comment-box #add-comment-form button,
.team-member-info-box .social-links-style1 li a:hover i,
.single-partner-logo-box-style2:hover a img,
.single-blog-post-style3 .text-holder .button-box .readmore a.btn-one,
.single-blog-post-style3 .quote-box .icon,
.single-sidebar .popular-tag li a:before,
.sidebar-bottom-box .img-holder .overlay a span:before,
.blog-single-quote-box,
.contact-form form button,
.nav-outer .mobile-nav-toggler .inner,
.single-product-item .img-holder .product-info,
.single-product-item .img-holder .overlay-content a,
.shorting-box .selects-box .dropdown-item.active,
.shorting-box .selects-box .dropdown-item:active,
.shorting-box .selects-box .dropdown-item:hover,
.showing-box .selects-box .dropdown-item.active,
.showing-box .selects-box .dropdown-item:active,
.showing-box .selects-box .dropdown-item:hover,
.product-info-box .product-size ul li:hover a,
.product-info-box .product-size ul li.active a,
.addto-cart-box .cart-box button.addtocart span:before,
.addto-cart-box .menu-box ul li a:hover,
.product-tab-box .tab-btns .tab-btn.active-btn span, 
.product-tab-box .tab-btns .tab-btn:hover span,
.estimate-form-box .button-box button:hover,
.discount-form-box .button-box button:hover,
.checkout-form-box .button-box button:hover,
.login-register-area .form button:hover,
.login-register-area .form .social-icon li a:hover i,
.share-products-socials ul li a:hover i,
.single-testimonial-style1.style3 .client-info .icon-box span:before,
.main-slider .content .btns-box .btn-one,
.main-menu .navigation.homeicon li.home-icon a:before,
.main-slider .content .btns-box .btn-two:hover, .home-icon:before
/*========== Background ====================*/
{
	background: #1137a0!important;
	background-color:#1137a0!important;
}

/* ------------------////End of Section////--------------*/



.video-galler-outer-bg:before {
    background-color: rgba(17, 55, 160, 0.7)!important;
}
.main-slider .content h3:before{
    background: rgba(253,93,20,0.4)!important;
}


/*==============================================
   Theme Border Color Css
===============================================*/
.login-register-area .form button:hover,
.login-register-area .form .social-icon li a:hover i,
.share-products-socials ul li a:hover i,
.main-slider .content .btns-box .btn-one,
.main-slider .content .btns-box .btn-two:hover,.single-testimonial-style1.style3 .client-info .icon-box span:before{
    border-color: #1137a0!important;  
}

.single-service-style2 .img-holder .static-content .title:before {
    border: 1px solid #1137a0!important;
}
.single-testimonial-style1.style3 .client-info .icon-box span:before {
    border: 1px solid #1137a0!important;
}
.scroll-top {
    border: 2px solid #1137a0!important;
}
.btn-one {
    border: 2px solid #1137a0!important;
}
.btn-one:hover,
.btn-one:focus{
    border: 2px solid #1137a0!important;
}
.single-blog-post-style3.withbdr {
    border: 5px solid #1137a0!important;
}
.mobile-menu .navigation li > a:before {
    border-left: 5px solid #1137a0!important;
}
.single-product-item .img-holder .product-info:before {
    border-right: 20px solid #1137a0!important;
}
.service-style1-area .title h1 a{
    border-bottom: 1px solid #1137a0!important;
}
.single-service-style2 .img-holder .static-content .title:before {
    border: 2px solid #1137a0!important;
}
.single-service-style2 .overlay-content .inner-content .text-holder .title:before {
    border: 2px solid #1137a0!important;
}
.single-fact-counter .count-box .icon span:before {
    color: #1137a0!important;

}
 .project-filter li.active .filter-text i {
    color:  #1137a0!important;
}

.single-portfolio-style1 .img-holder .title-holder span.tag {

    background:  #1137a0!important;
}
.single-portfolio-style1 .img-holder .title-holder {

    border-bottom: 2px solid #1137a0!important;
}


.mr_one .single-team-member .title-holder .inner .right a {
    background: #1137a0!important;
}

.project-filter li:hover .filter-text i, .project-filter li.active .filter-text i {
    color: #1137a0!important;
}


.mr_one .single-team-member .title-holder {
    border-bottom: 2px solid #1137a0!important;
}

.call-to-action-four .inner .content {
    background: #1137a0!important;
}
.call-to-action-four .inner .content:before {

    background:#1137a0!important;

}


.mr_blog .single-blog-post .text-holder .bottom .read-more-button a span:before {

    background: #1137a0!important;
}
.contact-information-box .contact-us li .icon span:before {
    color: #1137a0!important;

}
.breadcrumb-area .breadcrumb-menu ul li a {
    color: #1137a0!important;

}
.social-share-box .post-tag li.tags a:hover {
    color: #1137a0!important;
    border: 1px solid#1137a0!important;

}
#commentform .submit.theme-btn.style-four {

    background: #1137a0!important;
    color: #ffffff!important;
}
.single-blog-post-style3 .text-holder .button-box .readmore a.btn-one {
    color: #fff!important;

}
blockquote {

    background: #1137a0!important;
}
.main_footer_rb .btn-one {
    background:  #1137a0!important;
    color: #fff!important;
}
.single-team-member .title-holder {

    border-bottom: 2px solid #1137a0!important;
}
.main_footer_rb .footer-widgets .widget-title:after {

    background-color: #1137a0!important;

}
.main_footer_rb .footer-widgets ul li:hover > a {
    color:  #1137a0!important;
}
.project-description-block-two .icon {

    color: #1137a0!important;
}
.main_footer_rb .footer-social a:hover {
    border-color: #1137a0!important;
    background-color: #1137a0!important;

}
.pagination .page-numbers.current {
    color: #1137a0!important;  
}
.service-style1-area .title h1 a {
   color: #1137a0!important;
}
.pagination .next.page-numbers, .pagination .prev.page-numbers {
    color: #ffffff!important;

    background: #1137a0!important;
}
.pagination .page-numbers:hover {
    color: #1137a0!important;
}
.main-slider .content .btns-box .btn-one {
    color: #ffffff!important;
}
.service-style2-area .btn-one:hover {
    color: #fff!important;
}
.btn-one:hover{
    color: #ffffff!important;
}
.single-testimonial-style1.style3 .client-info .icon-box span:before {
    color: #ffffff!important;
}
.call-to-action-four .newbt.btn-one {
    background: #fff0!important;
    border: 2px solid #fff!important;
    color: #fff!important;

}
.slogan-content .quote-button a:hover {
   background: #222!important;
color:#fff!important;
}
.contact-form form button {
    color: #ffffff!important;

}
.video-holder-box.style2 .icon .inner a span:before {
    background: #ffffff!important;

}
.about-style1-text-box.style2 .title h1 span {
    color: #ffffff;
    background: #000000!important;
}
.about-style1-text-box.style2 .title h1 b {
    color: #000000!important;
}
.main-slider .content .btns-box .btn-one:hover {
    color: #ffffff!important;
    border-color: #ffffff!important;
    background: transparent!important;
}
.single-blog-post-style3 .text-holder .button-box .readmore a.btn-one:hover {
    background: #222!important;
    border: 2px solid #222!important;
    color: #fff!important;
}
.call-to-action-four .newbt.btn-one:hover {
    background: #fff!important;
    border: 2px solid #fff!important;
    color: #222!important;

}
.main_footer_rb .btn-one:hover {
       background: #fff!important;
    border: 2px solid #fff!important;
    color: #222!important;
}

